# En mi caso lo averiguo en https://console.neon.tech/app/projects/ancient-dream-87971548?database=neondb
DATABASE_URL="tu url de conexion con neon"
# Lo siguiente sirve para cifrar la cookie de sesión
NUXT_SESSION_PASSWORD=1712028bc29d4872b3332114054d5b87
# Se podría ver en algo como vercel.com/mis-proyectos/~/ai/api-keys
AI_GATEWAY_API_KEY="tu clave de api de ai gateway"